<div class="container">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="card" style="width: 25rem">
        <h1 class="text-center"><%=username%></h1>
        <img src="./images/default-user.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text"></p>

          <form action="/Profile" method="POST">
            <input
              style="display: none"
              type="text"
              name="normal_user"
              value="normal_user"
            />
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              DownGrade to a Normal User
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <form action="/movies" method="POST">
        <h1 class="text-muted">Add a movie now</h1>
        <div>
          <label for="Title">Title</label>
          <input type="text" name="title" id="title" placeholder="Movie title"
          /required>
        </div>
        <div>
          <label for="Year">Year</label>
          <input type="text" name="Year" id="Year" placeholder="Release year"
          /required>
        </div>
        <div>
          <label for="Director">Director name</label>
          <input type="text" name="Director" id="Director"
          placeholder="Director" /required>
        </div>
        <div>
          <label for="Runtime">Runtime</label>
          <input type="text" name="Runtime" id="Runtime" placeholder="119min"
          /required>
        </div>
        <div>
          <label for="Actors">Actors</label>
          <input type="text" name="Actors" id="Actors" placeholder="Jeff homes,
          Steve Jobs" /required>
        </div>
        <div>
          <label for="Genres">Genres</label>
          <input type="text" name="Genres" id="Genres" placeholder="Family,
          Animation" /required>
        </div>
        <div>
          <label for="Rated">Rating</label>
          <input type="text" name="Rating" id="Rating" placeholder="TV-14"
          /required>
        </div>
        <div>
          <label for="Language">Language</label>
          <input type="text" name="Language" id="Language" placeholder="English"
          /required>
        </div>

        <div class="file-field">
          <div class="mb-4">
            <img
              src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
              class="rounded-circle z-depth-1-half avatar-pic"
              alt="example placeholder avatar"
            />
          </div>
          <div class="d-flex justify-content-center">
            <div class="btn btn-mdb-color btn-rounded float-left">
              <span>Add photo</span>
              <input type="file" />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-2">This will have more stuff</div>
  </div>
</div>
