<div class="container">
  <ul style="display: none">
    <li id="search"><%= search %></li>
  </ul>

  <div class="container">
    <div id="movies" class="row">
      <!-- Output will be populated over here depending on differen't stuff -->
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/js/peoples.js"></script>
</div>
