/***  THIS FILE IS FOR MEDIA QUERIES ONLY ***/

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 300.98px) {
  .creative-card {
    margin: 0.5em 0;
    /* padding: 2em 0; */
  }


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sign-stuff,
  .register {
    margin-top: 4em;
  }

  .unique-movie-size {
    width: 80%;
  }

  .form-search-bigger {
    width: 500px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .sign-stuff,
  .register {
    margin-top: 6em;
  }

  .unique-movie-size {
    width: 50%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sign-stuff,
  .register {
    margin-top: 8em;
  }

  .unique-movie-size {
    max-width: 800px;
  }
}
