/*
.sign-up-card {
  border: 3px solid red;
} */




.View-User {
  display:block;
  width:100%;
  min-height:75px;
  height:auto;
}

.btn-4 {
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  margin: 0 7px 11px 0;
  color: #888;

  text-align: center;

  /* so nobody selects the inside text on button */
  user-select: none;

  /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
  transition: all 0.2s ease;
}

.btn-small {
  line-height: 25px;
  width: 123px;
  height: 40px;
}

/*==========  Different button styles  ==========*/

.submit {
  background: #b7de01;
  box-shadow: 0px 5px #687e00;
  color: #687e00;
}
.submit:hover {
  background: #99ba01;
  box-shadow: 0px 4px #435100;
  color: #687e00;
}
/* Imitate a pressed effect for buttons */
.submit:active {
  box-shadow: 0px 0px #717a33;
  top: 4px;
}

p.text-muted {
  color: #687e00

}


.middle {
  font-weight: bold;
  border: 3px solid #4ABBFF;

}

.movie{
  width: 200px;
  margin-left: 10px;
}

.shrink{
  width: 450px;
}


body {
  background-color: #121212;
  cursor: none !important;
  /* overflow: hidden; */
}

/* React Component CSS */

.cursor {
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  z-index: 11;
  transition-duration: 1.2s;
  transition-timing-function:  cubic-bezier(0.07, 1.18, 1, 1);
}
.cursor-follower {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  border-radius: 100px;
  transition-duration: 0.1s;
  transition-timing-function:  cubic-bezier(0.07, 1.18, 1, 1);
}
