html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.no-padding-sides {
  padding: 0 0;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
/*
  .logo-button {
    /* margin: 20px; */
/*}*/
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5),
    -4px -4px 6px rgba(116, 125, 136, 0.2);
  outline: none;
}

.one,
.two {
  display: table;
  margin: 0 auto;
}

.element-footer {
  padding: 0.5em 0;
}

.width-full {
  width: 100%;
}

.sign-stuff {
  margin-top: 3em;
}

.circle-button {
  border-radius: 1em;
}

/* 3 */
.btn-3 {
  color: rgba(2, 126, 251, 1);
  background: rgba(118, 174, 241, 1);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
.form-gap {
  padding-top: 70px;
}

/* Menu */

.wrapper {
  position: absolute;
  list-style: none;
  top: 130%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.mainMenu {
  width: 250px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.item {
  border-top: 1px solid #ef584a;
  overflow: hidden;
}
.btn-menu {
  display: block;
  padding: 15px 20px;
  background-color: #ff6f61;
  color: #fff;
  position: relative;
}
.btn-menu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #ff6f61;
  right: 15px;
  bottom: -10px;
  z-index: 9;
}
.btn-menu i {
  margin-right: 10px;
}
.subMenu {
  background: #273057;
  overflow: hidden;
  transition: max-height 0.7s;
  max-height: 0;
}
.subMenu a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #394c7f;
  position: relative;
}
.subMenu a:before {
  content: "";
  opacity: 0;
  transition: opacity 0.3s;
}
.subMenu a:hover:before {
  content: "";
  position: absolute;
  height: 0;
  width: 6px;
  left: 0;
  top: 0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-left: 11px solid #fcdc29;
  border-bottom: 24px solid transparent;
}
.subMenu a:after {
  content: "";
  opacity: 0;
  transition: opacity 0.3s;
}
.subMenu a:hover:after {
  content: "";
  position: absolute;
  height: 0;
  width: 6px;
  right: 0px;
  top: 0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-right: 11px solid #fcdc29;
  border-bottom: 24px solid transparent;
}
.subMenu a:hover {
  background: #273057;
  background: -moz-linear-gradient(
    top,
    #273057 0%,
    #273057 50%,
    #394c7f 51%,
    #394c7f 100%
  );
  background: -webkit-linear-gradient(
    top,
    #273057 0%,
    #273057 50%,
    #394c7f 51%,
    #394c7f 100%
  );
  background: linear-gradient(
    to bottom,
    #273057 0%,
    #273057 50%,
    #394c7f 51%,
    #394c7f 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273057', endColorstr='#394c7f',GradientType=0 );
  transition: all 0.3s;
  border-bottom: 1px solid #394c7f;
}
.subMenu a:last-child {
  border: none;
}
.item:target .subMenu {
  max-height: 10em;
}

/* #navbarSupportedContent {
} */

.nav{
  background: #121212;
}

#navbar {
  z-index: 9999;

}

.search-button {
  height: 2.5rem;
  border-radius: 0;
}

.search-stuff {
  display: flex;
  padding: 0;
  margin: 0;
}

.form-search {
  padding-top: 1rem;
}

.tweek {
  background-color: #82b1ff;
}


.back-colour{

  border: none;
  background: #4CAF50;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  
}

.left{
  margin-left: 885px;
}

.white{
  color: white;
}

.yellow{
  color: yellow;
}

.search-field {
  margin: 3em 0;
}

.view-selection {
  margin: 0.5em 0;
}


/* Notifications */

#collapse-notifications {
  max-width: 300px;
  margin: 0 auto;
}

.good-looking {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}